		<section id="pricing-tables" class="section-content main-background-color">
			<img class="top-diagonal hidden-xs hidden-sm" src="media/img/top-diagonal.png" alt="">

			<div class="container padding-top-50 padding-bottom-100">
				<div class="row">
					<div class="col-lg-12">

						<h1 class="text-center">Membership.</h1>
						<hr class="margin-bottom-50">

						<div class="promos-wrapper clearfix margin-top-100">  
						    <div class="promo one">
						        <h2>Attaché</h2>

						        <div class="cost-ribbon">
						        	<span>50 €</span>
									<p class="period">per month</p>
						        </div>

						        <ul class="features">
									<li>Access to Space during Community Hours*</li>
									<li>Host Meetups for your Community</li>
									<li>Access to Embassy Network</li>
									<li>&nbsp;</li>
									<li><i>*4pm to 8pm Thursdays & Fridays</i></li>
						        </ul>
						       <a href="#_" class="btn btn-default margin-top-40 margin-bottom-20">Apply</a>
						    </div>
						    <div class="promo two">
						        <h2>Corporate</h2>
						        
						        <div class="cost-ribbon">
						        	<span>on demand</span>
						        </div>

						       	<ul class="features">
									<li>Private Events</li>
									<li>Full Access to Space</li>
									<li>Access to Embassy Network</li>
									<li>Individual arrangements possible</li>
						        </ul>
						        <a href="#_" class="btn btn-default margin-top-40 margin-bottom-20">Apply</a>
						    </div>
						    <div class="promo three featured">
						        <h2>Ambassador</h2>
						        
						        <div class="cost-ribbon">
						        	<span>125 €</span>
									<p class="period">per month</p>
						        </div>

						        <ul class="features">    
									<li>Access to Space within Opening Hours*</li>
									<li>Host Meetups for your Community</li>
									<li>Access to Embassy Network</li>
									<li>&nbsp;</li>
									<li><i>* 9am to 19pm</i></li>
						        </ul>
								<a href="#_" class="btn btn-default margin-top-40 margin-bottom-20">Apply</a>
						    </div>  
						</div>

					</div>
				</div>
			</div>

			<img class="bottom-diagonal hidden-xs hidden-sm" src="media/img/bottom-diagonal.png" alt="">
		</section>